.widget-preview {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: stretch;
  box-sizing: border-box;
  overflow: hidden;
}

.widget-preview > * {
  display: grid;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  place-items: stretch;
  overflow: auto;
}
