.dashboard-container{
    margin:var(--common-margin);
    padding: var(--common-padding);
    border-radius: var(--border-radius);
    border: var(--common-border-thickness) solid var(--common-border-color);
}