<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="flex-row column-one">
      <div class="d-flex flex-column">
        <div>
          <date></date>
        </div>
        <div>
          <daily-phrase></daily-phrase>
        </div>
      </div>
    </div>
    <div class="flex-row column-two">
      <div class="d-flex flex-column">
        <div>
          <weather></weather>
        </div>
        <div>
          <calendar-events></calendar-events>
        </div>
        <div>
          <trash-collection-calendar></trash-collection-calendar>
        </div>
      </div>
    </div>
  </div>
  <span>updated: </span>
</div>