:root{
  --border-radius: 4px;
  --common-border-color: black;
  --common-border-thickness: 4px;
  --common-margin: 2px;
  --common-padding: 4px;
}

.dashboard-container{
  margin:var(--common-margin);
  padding: var(--common-padding);
  border-radius: var(--border-radius);
  border: var(--common-border-thickness) solid var(--common-border-color);
}

.widget{
  border-radius: var(--border-radius);
  margin: var(--common-margin);
  padding: var(--common-padding);
  border: var(--common-border-thickness) solid var(--common-border-color);
  font-weight: bold;
}

.weather-hourly-container {
  margin: 2px;
}

.weather-hourly-container img {
  width: 40px;
  height: 40px;
}

.weather-daily-container img {
  width: 100px;
  height: 100px;
}

.red-widget{
  border-radius: var(--border-radius);
  margin: var(--common-margin);
  padding: var(--common-padding);
  border: var(--common-border-thickness) solid red
}