html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 0;
}

.container.flex-grow-1 {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

main.flex-grow-1 {
  flex: 1 0 auto;
  min-height: 0;
}

footer.mt-auto {
  margin-top: auto;
}
