@page
@model EPaperDashboard.Pages.HomeAssistantCallbackModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Home Assistant Authentication</title>
</head>
<body>
    <h1>Authentication Error</h1>
    <p>@Model.ErrorMessage</p>
    @if (Model.DashboardId != null)
    {
        <p><a href="/Dashboards/Edit/@Uri.EscapeDataString(Model.DashboardId)">Return to Dashboard</a></p>
    }
    else
    {
        <p><a href="/">Return to Home</a></p>
    }
</body>
</html>
