@for (guide of guides; track $index) {
  <div class="element-guide" [class.vertical]="guide.orientation === 'vertical'"
    [class.horizontal]="guide.orientation === 'horizontal'" [ngStyle]="guideStyle(guide)"></div>
}

@for (element of geometry.elements; track element.id) {
  <div class="editable-element" [class.selected]="selectedId === element.id"
    [ngStyle]="elementStyle(element)" [title]="'Select and move ' + elementLabel(element)"
    tabindex="0" role="button" [attr.aria-label]="'Move ' + elementLabel(element)"
    (keydown)="onElementKeyDown($event, element)"
    (pointerdown)="onElementPointerDown($event, element)">
    @if (isInteracting(element) && previewImageUrl) {
      <span class="element-image-ghost" [ngStyle]="ghostStyle(element)"></span>
    }
    <span class="element-label">{{ elementLabel(element) }}</span>
    @if (selectedId === element.id && element.resizable) {
      @for (handle of handles; track handle) {
        <span class="element-handle handle-{{ handle }}"
          (pointerdown)="onHandlePointerDown($event, element, handle)"></span>
      }
    }
  </div>
}
