:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.app-icon {
  flex: 0 0 auto;
  display: block;

  :deep(svg) {
    display: block;
    width: 100%;
    height: 100%;
  }
}