.graph-widget {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.chart-canvas {
  width: 100% !important;
  height: 100% !important;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 8px;
  opacity: 0.5;
  width: 100%;

  i {
    font-size: 2rem;
  }

  p {
    margin: 0;
    font-size: 0.875rem;
  }
}