.graph-widget {
  display: grid;
  grid-auto-flow: row;
  gap: 4px;
  overflow: hidden;
}

.graph-content {
  display: grid;
  grid-auto-flow: row;
  gap: 4px;
  overflow: hidden;
}

.graph-label {
  font-size: 0.8rem;
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.graph-value {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.graph-unit {
  font-size: 0.75rem;
  opacity: 0.7;
  text-align: center;
}